<h1 class="technologies-headline">Used Technologies</h1>
<div class="technologies">
  <div class="tech-item">
    <img class="technologies-logo" src="assets/images/logo-angular.svg" alt="">
    <div>Angular</div>
  </div>
  <div class="tech-item">
    <img class="technologies-logo" src="assets/images/logo-material.svg" alt="">
    <div>Material</div>
  </div>
  <div class="tech-item">
    <img class="technologies-logo" src="assets/images/logo-typescript.svg" alt="">
    <div>TypeScript</div>
  </div>
  <div class="tech-item">
    <img class="technologies-logo" src="assets/images/logo-javascript.svg" alt="">
    <div>JavaScript</div>
  </div>
  <div class="tech-item">
    <img class="technologies-logo" src="assets/images/logo-HTML5.svg" alt="">
    <div>HTML</div>
  </div>
  <div class="tech-item">
    <img class="technologies-logo" src="assets/images/logo-sass.svg" alt="">
    <div>SCSS/SASS</div>
  </div>
  <div class="tech-item">
    <img class="technologies-logo" src="assets/images/logo-CSS3.svg" alt="">
    <div>CSS</div>
  </div>
  <div class="tech-item">
    <img class="technologies-logo" src="assets/images/logo-github-black.svg" alt="">
    <div>GitHub</div>
  </div>
  <div class="tech-item">
    <img class="technologies-logo" src="assets/images/logo-git.png" alt="">
    <div>Git</div>
  </div>
  <div class="tech-item">
    <img class="technologies-logo" src="assets/images/logo-node_js.svg" alt="">
    <div>Node</div>
  </div>
  <div class="tech-item">
    <img class="technologies-logo" src="assets/images/logo-Npm.svg" alt="">
    <div>NPM</div>
  </div>
  <div class="tech-item">
    <img class="technologies-logo" src="assets/images/logo-ngx-color.png" alt="">
    <div>NGX-Color</div>
  </div>
</div>
