@import '../../styles.scss';

.technologies-headline {
  margin: 5rem 0 0 0;
  font-size: 40px;
  text-align: center;
  color: $standard-text-color;
}

.technologies {
  @include center-items-2;
  flex-wrap: wrap;
  width: 720px;
  margin: 6rem auto;
}

.tech-item {
  @include center-items;
  flex-direction: column;
  justify-content: space-between;
  width: 120px;
  height: 150px;
  margin: 30px;
  font-size: 20px;
  color: $standard-text-color;
}

.technologies-logo {
  width: 100px;
}

@media screen and (max-width: 768px) {
  .technologies {
    width: 540px;
  }
}

@media screen and (max-width: 568px) {
  .technologies {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .technologies-headline {
    font-size: 32px;
  }
  .tech-item {
    margin: 5px;
    justify-content: flex-end;
  }
  .technologies-logo {
    width: 60px;
    margin-bottom: 20px;
  }
}
