.not-found-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: calc(100vh - 17rem);
  margin: 0 auto;
  padding: 12rem 0;
}

.not-found-text {
  color: #505050;
  text-align: center;
  margin: 0 5rem;
  h1 {
    font-size: 50px;
    margin: 2rem 0;
  }

  p {
    font-size: 30px;
    line-height: 40px;
  }
}

.back-button {
  margin-top: 2rem;
}

.not-found-image {
  width: 300px;
  margin: 0 5rem;
}

@media screen and (max-width: 920px) {
  .not-found-text {
    h1 {
      font-size: 40px;
      margin: 2rem 0;
    }

    p {
      font-size: 24px;
      line-height: 24px;
    }
  }
  .not-found-image {
    width: 240px;
  }
}

@media screen and (max-width: 768px) {
  .not-found-text {
    h1 {
      font-size: 30px;
      margin: 2rem 0;
    }

    p {
      font-size: 18px;
      line-height: 18px;
    }
  }
  .not-found-image {
    width: 180px;
  }
}

@media screen and (max-width: 568px) {
  .not-found-container {
    flex-direction: column;
    height: fit-content;
    padding: 8rem 0;
  }
  .not-found-text {
    margin-bottom: 5rem;
    h1 {
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 2rem;
    }

    p {
      font-size: 18px;
      line-height: 18px;
    }
  }
  .not-found-image {
    width: 180px;
  }
}
