@import '../../styles.scss';

.footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url('../../assets/images/footer-pattern.svg');
}

.footer-container {
  height: 12rem;
  background-color: #083272f5;
  color: $navbar-footer-color;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 4rem;
  padding-bottom: 1rem;
}

.footer-headline {
  font-size: 1.3rem;
  margin-left: 8px;
}

.logo-linkedIn,
.logo-homepage {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.8rem;
}

.footer-right {
  margin-bottom: 10px;
}

.footer-right-text {
  padding-left: 0.5rem;
}

.bottom-margin {
  margin-bottom: 5px;
}

.link-flex {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: fit-content;
}

.link-flex:hover {
  background-color: $link-hover;
}

@media screen and (max-width: 1024px) {
  .footer-container {
    padding: 0 2rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 568px) {
  .footer-container {
    font-size: 0.8rem;
  }
  .footer-headline {
    font-size: 1,1rem;
  }
}

@media screen and (max-width: 480px) {
  .footer-container {
    font-size: 0.6rem;
    padding: 0 1rem;
    padding-bottom: 1rem;
  }
  .footer-headline {
    font-size: 0.8rem;
  }
}
