<div class="footer-wrapper">
  <div class="footer-container">
    <div>
      <p class="footer-headline">Creator</p>
      <p>
        <a class="link-flex" href="https://www.linkedin.com/in/richard-tepfenhart/" target="_blank">
          <img class="logo-linkedIn" src="assets/images/logo-linkedin.png" alt="LinkedIn Logo">
          <span>Richard Tepfenhart</span>
        </a>
      </p>
      <p>
        <a class="link-flex" href="https://ocbtec.github.io/portfolio/" target="_blank">
          <img class="logo-homepage" src="assets/images/logo-homepage.svg" alt="Homepage Logo">
          <span>Portfolio</span>
        </a>
      </p>
    </div>
    <div class="footer-right">
      <p class="footer-right-text bottom-margin">Made with Angular + Material,</p>
      <p class="footer-right-text">inspired by the website</p>
      <p><a class="link-flex" href="https://css-playground.com/" target="_blank">css-playground.com</a></p>
    </div>
  </div>
</div>
