<div class="footer-wrapper">
  <div class="footer-container">
    <div class="footer-left">
      <p class="footer-headline">Creator</p>
      <p>
        <a href="https://www.linkedin.com/in/richard-tepfenhart/" target="_blank" class="link-flex">
          <img src="../../assets/logo-linkedin.png" alt="LinkedIn Logo" class="logo-linkedIn">
          <span>Richard Tepfenhart</span>
        </a>
      </p>
      <p>
        <a href="https://ocbtec.github.io/portfolio/" target="_blank" class="link-flex">
          <img src="../../assets/logo-homepage.svg" alt="Homepage Logo" class="logo-homepage">
          <span>Portfolio</span>
        </a>
      </p>
    </div>
    <div class="footer-right">
      <p class="inspired-text">Inspired by the website</p>
      <p><a href="https://css-playground.com/" class="inspired-link" target="_blank">CSS Playground</a></p>
    </div>
  </div>
</div>
