@import '../../styles.scss';

.footer-wrapper {
  height: 10rem;
  margin-top: 10rem;
  background-image: url(../../assets/footer-pattern.svg);
}

.footer-container {
  height: 10rem;
  background-color: #083272f5;
}
