.mat-tab-label {
  color: #082858;
  font-size: 16px;
}

.mat-tab-label.mat-tab-label-active {
  color: #1155bb;
  font-weight: 500;
}

.mat-tab-group,
.mat-tab-body-wrapper {
  height: 100%
}

.mat-ripple:hover {
  background-color: #d8ecfd;
}
