.mat-tab-label.mat-tab-label-active {
  color: #1155bb;
  font-weight: 500;
  font-size: 18px;
}

.mat-tab-group,
.mat-tab-body-wrapper {
  height: 100%
}

.mat-ripple:hover {
  background-color: #d8ecfd;
}

@media screen and (max-width: 1024px) {
  .mat-tab-label {
    flex: 1;
  }
}
