<div class="reset-button-flexbox">
  <div
    class="reset-button"
    id="{{ settingsType }}"
    mat-raised-button #tooltip="matTooltip"
    [matTooltipPosition]="position"
    [matTooltipShowDelay]="showDelay"
    [matTooltipHideDelay]="hideDelay"
    [matTooltip]="messageDynamic"
    (click)="dynamicReset($event)"
  ></div>
  <span class="reset-text">{{ settingsType }}</span>
</div>

<div class="reset-button-flexbox">
  <div
    class="reset-button"
    id="all"
    mat-raised-button #tooltip="matTooltip"
    [matTooltipPosition]="position"
    [matTooltipShowDelay]="showDelay"
    [matTooltipHideDelay]="hideDelay"
    [matTooltip]="messageDefault"
    (click)="dynamicReset($event)"
  ></div>
  <span class="reset-text">All</span>
</div>
