.reset-button-flexbox {
  display: flex;
  align-items: center;
  flex: 1;
}

.reset-button {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  background-image: url('../../assets/images/reset-button-dark.svg');
  background-size: contain;
}

.reset-button:hover {
  background-color: #ff4081;
  border-radius: 50%;
  background-image: url('../../assets/images/reset-button-bright.svg');
  background-size: contain;
  cursor: pointer;
}

.reset-text {
  color: gray;
}

@media screen and(max-width: 360px) {
  .reset-button {
    margin-right: 0.5rem;
  }
  .reset-text {
    font-size: 11px;
  }
}
