<div class="reset-button-flexbox">
  <div
    class="reset-button"
    mat-raised-button #tooltip="matTooltip"
    [matTooltipPosition]="position"
    [matTooltipShowDelay]="showDelay"
    [matTooltipHideDelay]="hideDelay"
    [matTooltip]="messageDynamic"
  ></div>
  <span class="reset-text">{{ settingsType }}</span>
</div>

<div class="reset-button-flexbox">
  <div
    class="reset-button"
    mat-raised-button #tooltip="matTooltip"
    [matTooltipPosition]="position"
    [matTooltipShowDelay]="showDelay"
    [matTooltipHideDelay]="hideDelay"
    [matTooltip]="messageDefault"
  ></div>
  <span class="reset-text">All</span>
</div>
