@import '../../styles.scss';

.reset-button-flexbox {
  @include center-items;
  flex: 1;
}

.reset-button {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  background-image: url('../../assets/images/reset-button-dark.svg');
  background-size: contain;
}

.reset-button:hover {
  background-color: $vanilla-cube;
  border-radius: 50%;
  background-image: url('../../assets/images/reset-button-bright.svg');
  background-size: contain;
  cursor: pointer;
}

.reset-text {
  color: gray;
}


@mixin mobile-button-styling {
  .reset-button {
    margin-right: 0.5rem;
  }
  .reset-text {
    font-size: 11px;
  }
}
@media screen and (max-width: 560px) and (orientation: portrait) {
  @include mobile-button-styling();
}

@media screen and (max-height: 560px) and (orientation: landscape) {
  @include mobile-button-styling();
}