<nav class="navbar">
  <div class="navbar-headline">CSS Playground</div>
  <div class="navbar-links">
    <a [routerLink]="['/']">
      <span>Playground</span>
    </a>
    <a class="technologies-link" [routerLink]="['used-technologies']">
      <span>Used Technologies</span>
    </a>
    <a class="github-link" href="https://github.com/ocbtec/css-playground" target="_blank">
      <img class="logo-github" src="../../assets/logo-github.svg" alt="">
      <span class="nav-github-text">Github</span>
    </a>
  </div>
</nav>
