@import '../../styles.scss';

.navbar {
  @include space-between;
  height: 80px;
  background-color: #083272;
  box-shadow: 0px 0px 0.7rem 0.5rem #140d01;
  overflow: overlay;
}
.navbar-headline,
.navbar-links {
  @include center-items;
  margin: 0rem 2rem;
  color: $navbar-footer-color;
}
.navbar-headline {
  font-size: $font-size-headline;
}

.navbar-links {
  font-size: $font-size-links;
}

.nav-github-text {
  font-size: 1rem;
}

.technologies-link {
  margin-left: 1rem;
  margin-right: 5rem;
}

.logo-github {
  width: 30px;
  margin-right: 0.5rem;
}

.github-link {
  @include center-items;
}

.menu-links:hover {
  background-color: $link-hover;
}

.menu-links {
  border-radius: 2px;
  padding: 0.5rem;
}

.ng-star-inserted {
  @include center-items;
  margin-right: 1rem;
}

.mobile-nav-icon {
  color: white;
}

.burger-menu-item {
  @include center-items-2;
  color: $standard-text-color;
}

@media screen and (max-width: 360px) {
  .navbar-headline {
    font-size: 18px;
  }
}
