<div class="box-shadow-container">
  <ul *ngFor="let item of items" class="slider-wrapper">
    <app-slider [label]="item.label" [slider]="item.slider"></app-slider>
  </ul>
  <div class="toggle-container">
    <mat-slide-toggle
    [(ngModel)]="shadowInset"
    (change)="onChange()"
    ></mat-slide-toggle>
    <span class="toggle-lable">Inset</span>
  </div>
  <app-reset-buttons
    class="reset-buttons-container"
    [settingsType]="settingsType"
    [messageDynamic]="messageDynamic"
  ></app-reset-buttons>
</div>
