<div class="box-shadow-container" #containerHeight>
  <div *ngFor="let item of items" class="slider-wrapper">
    <app-slider [slider]="item"></app-slider>
  </div>
  <div class="toggle-container">
    <mat-slide-toggle
    [(ngModel)]="boxShadowInset"
    (change)="onChange()"
    ></mat-slide-toggle>
    <span class="toggle-label">Inset</span>
  </div>
  <div class="color-picker-container">
    <span class="color-picker-text">Box-shadow color</span>
    <color-slider
      class="color-picker"
      color="{{ boxShadowColor }}"
      (onChange)="changeBoxShadowColor($event)"
    ></color-slider>
  </div>
  <app-reset-buttons
    class="reset-buttons-container"
    [settingsType]="settingsType"
    [messageDynamic]="messageDynamic"
  ></app-reset-buttons>
  <app-scroll-indicator
    *ngIf="showScrollIndicator"
    class="scroll-indicator-container"
  ></app-scroll-indicator>
</div>
