<div class="box-shadow-container">
  <ul *ngFor="let item of items" class="slider-wrapper">
    <app-slider [label]="item.label" [slider]="item.slider"></app-slider>
  </ul>
  <div class="toggle-container">
    <mat-slide-toggle
    [(ngModel)]="boxShadowSettingsService.shadowInsetSwitch"
    (change)="onChange()"
    ></mat-slide-toggle>
    <span class="toggle-label">Inset</span>
  </div>
  <div class="color-picker-container">
    <span class="color-picker-text">Pick box-shadow color</span>
    <color-slider
      class="color-picker"
      color="{{ boxShadowSettingsService.color }}"
      (onChange)="handleChange($event)"
    ></color-slider>
  </div>
  <app-reset-buttons
    class="reset-buttons-container"
    [settingsType]="settingsType"
    [messageDynamic]="messageDynamic"
  ></app-reset-buttons>
</div>
