@import '../../styles.scss';

.colors-container {
  @include tab-container;

  height: 100%;
  padding: 0.5rem;
  padding-top: 1.5rem;
}

.colors-flexbox {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.chrome-picker {
  width: 220px !important;
  margin-top: 1.5rem;
}

.ng-star-inserted {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 1024px) {
  .color-picker-top {
    width: 100% !important;
  }
  .chrome-picker {
    width: 90% !important;
    margin: 1.5rem;
  }
  .mobile-margin {
    margin-left: 1.5rem;
  }
}
