<div class="colors-container" #containerHeight>
  <div class="colors-flexbox">
    <div class="color-picker-top">
      <span class="color-picker-text mobile-margin">Cube color</span>
      <color-chrome
        class="color-picker-chrome"
        color="{{ cubeColor }}"
        (onChange)="changeCubeColor($event)"
      ></color-chrome>
    </div>
    <div class="color-picker-top">
      <span class="color-picker-text mobile-margin">Background color</span>
      <color-chrome
        class="color-picker-chrome"
        color="{{ backgroundColor }}"
        (onChange)="changeBackgroundColor($event)"
      ></color-chrome>
    </div>
  </div>
  <div class="color-picker-container">
    <span class="color-picker-text">Border color</span>
    <color-slider
      class="color-picker"
      color="{{ borderColor }}"
      (onChange)="changeBorderColor($event)"
    ></color-slider>
  </div>
  <div class="color-picker-container">
    <span class="color-picker-text">Box-shadow color</span>
    <color-slider
      class="color-picker"
      color="{{ boxShadowColor }}"
      (onChange)="changeBoxShadowColor($event)"
    ></color-slider>
  </div>
  <app-reset-buttons
    class="reset-buttons-container"
    [settingsType]="settingsType"
    [messageDynamic]="messageDynamic"
  ></app-reset-buttons>
  <app-scroll-indicator
    *ngIf="showScrollIndicator"
    class="scroll-indicator-container"
  ></app-scroll-indicator>
</div>
