@import '../../styles.scss';

.colors-container {
  @include tab-container;

  height: 100%;
  padding: 0.5rem;
  padding-top: 1.5rem;
}

.colors-flexbox {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.chrome-picker {
  width: 220px !important;
  margin-top: 1.5rem;
}

.ng-star-inserted {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 1024px) {
  .color-picker-top {
    width: 100% !important;
  }
  .color-picker-chrome {
    display: flex;
    justify-content: center;
  }
  .chrome-picker {
    width: 90% !important;
    margin-bottom: 1.5rem;
  }
  .mobile-margin {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 420px) {
  .colors-container {
    padding-top: 0.5rem;
    padding-bottom: 0;
  }
  .chrome-picker {
    margin: 0;
  }
  .color-picker-text {
    font-size: 11px;
  }
  .mobile-margin {
    margin-left: 10px;
  }
  .slider-picker {
    margin-top: 0 !important;
  }
  .color-picker-container {
    padding-bottom: 0 !important;
  }
  color-editable-input > .wrap > input {
    font-size: 8px !important;
  }
  .chrome-toggle {
    width: 22px !important;
  }
}