@import '../../styles.scss';

.colors-container {
  @include tab-container;

  height: 100%;
  padding: 0.5rem;
  padding-top: 1.5rem;
}

.colors-flexbox {
  display: flex;
  justify-content: center;
}

.chrome-picker {
  width: 220px !important;
  margin-top: 1.5rem;
}

.cube-color {
  margin-right: 1rem;
}

.ng-star-inserted {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
