.mat-form-field-flex {
  padding: 0 !important;
}

.mat-form-field-infix {
  padding: 0px 0px 10px 15px !important;
}

.mat-select-arrow {
  margin: 10px 10px 0px 0px !important;
}

.mat-form-field-appearance-fill {
  background-color: #f5f5f5;
}
