<div class="transform-container" #containerHeight>
  <div *ngFor="let item of items" class="slider-wrapper">
    <app-slider [label]="item.label" [slider]="item.slider"></app-slider>
  </div>
  <app-reset-buttons
    class="reset-buttons-container"
    [settingsType]="settingsType"
    [messageDynamic]="messageDynamic"
  ></app-reset-buttons>
  <app-scroll-indicator
    *ngIf="containerHeight.scrollHeight + 48 > mobileViewService.playgroundInputHeight"
    class="scroll-indicator-container"
  ></app-scroll-indicator>
</div>
