.playground-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: lightcoral;
  width: 50%;
  height: 500px;
  margin: 0 auto;
  margin-top: 10rem;
}
.input-section {
  width: 33.3%;
  flex: 1;
  background-color: lightgreen;
}
.output-section {
  width: 66.6%;
  flex: 2;
  background-color: lightgrey;
}
