.playground-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  height: 700px;
  margin: 0 auto;
  margin-top: 10rem;
}
.input-section {
  width: 482px;
  background-color: #fafafa;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  border-left: 1px solid #bababa;
}
.output-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #fafafa;
  border: 1px solid #bababa;
  overflow: hidden;
}
