<div class="code-container" #containerHeight>
  <div class="code-block code-block-flex">
    <p class="code-paragraph">
      <span class="class-name">.background</span><span class="special-character"> &#123;</span><br>
      &nbsp;&nbsp;<span class="property">background-color</span><span class="special-character">:</span>
        <span class="color-indicator" [style.backgroundColor]=backgroundColor></span>
        <span class="color-value">{{ backgroundColor }}</span><span class="special-character">;</span><br>
        <span class="special-character"> &#125;</span>
    </p>
    <div [cdkCopyToClipboard]="cssCode">
      <span>
        <i
          class="material-icons copy-icon"
          matTooltip="Copy Code Snippet"
          matTooltipPosition="left"
          (click)="snackbar()"
        >content_copy</i>
      </span>
    </div>
  </div>
  <div class="code-block code-block-bottom">
    <p class="code-paragraph">
      <span class="class-name">.cube</span><span class="special-character"> &#123;</span><br>
      &nbsp;&nbsp;<span class="property">background-color</span>
      <span class="special-character">:</span>
      <span class="color-indicator" [style.backgroundColor]=cubeColor></span>
      <span class="color-value">{{ cubeColor }}</span>
      <span class="special-character">;</span><br>
      &nbsp;&nbsp;<span class="property">width</span>
      <span class="special-character">:</span>
      <span class="pixel-value"> {{ size }}px</span>
      <span class="special-character">;</span><br>
      &nbsp;&nbsp;<span class="property">height</span>
      <span class="special-character">:</span>
      <span class="pixel-value"> {{ size }}px</span>
      <span class="special-character">;</span><br>
      &nbsp;&nbsp;<span class="property">border-width</span>
      <span class="special-character">:</span>
      <span class="pixel-value">{{ borderWidth }}px</span>
      <span class="special-character">;</span><br>
      &nbsp;&nbsp;<span class="property">border-color</span>
      <span class="special-character">:</span>
      <span class="color-indicator" [style.backgroundColor]=borderColor></span>
      <span class="color-value">{{ borderColor }}</span>
      <span class="special-character">;</span><br>
      &nbsp;&nbsp;<span class="property">border-radius</span>
      <span class="special-character">:</span>
      <span class="pixel-value"> {{ borderRadius }}&#37;</span>
      <span class="special-character">;</span><br>
      &nbsp;&nbsp;<span class="property">border-style</span>
      <span class="special-character">:</span>
      <span class="color-value"> {{ borderStyle }}</span>
      <span class="special-character">;</span><br>
      &nbsp;&nbsp;<span class="property">transform</span>
      <span class="special-character">:</span>
      <span class="yellow"> translate</span>
      <span class="special-character">&#40;</span>
      <span class="pixel-value">{{ xPos}}px</span>
      <span class="special-character">,</span>
      <span class="pixel-value"> {{ yPos }}px</span>
      <span class="special-character">&#41;</span>
      <span class="yellow"> rotate</span>
      <span class="special-character">&#40;</span>
      <span class="pixel-value">{{ rotate }}deg</span>
      <span class="special-character">&#41;;</span><br>
      &nbsp;&nbsp;<span class="property">box-shadow</span>
      <span class="special-character">:</span>
      <span class="color-indicator" [style.backgroundColor]=boxShadowColor></span>
      <span class="color-value">{{ boxShadowColor }}</span>
      <span class="pixel-value"> {{ shadowX }}px {{ shadowY }}px {{ shadowBlur }}px {{ shadowSpread }}px{{ shadowInset
        }}</span>
      <span class="special-character">;</span><br>
      <span class="special-character"> &#125;</span>
    </p>
  </div>
  <app-scroll-indicator
    *ngIf="containerHeight.scrollHeight + 48 > mobileView.playgroundInputHeight"
    class="scroll-indicator-container"
    id="scroll-indicator-css-tab"
  ></app-scroll-indicator>
</div>
