@import '../../styles.scss';

.code-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5rem;
  margin: 0;
  background-color: #1e1e1e;
  height: 100%;
}

.code-block {
  margin: 0 2.2rem;
}

.code-block-flex {
  @include space-between;
}

.copy-icon {
  color: white;
  cursor: pointer;
}

.code-paragraph {
  font-family: droid;
  font-size: 15px;
  line-height: 30px;
}

.color-indicator {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  border: 2px white solid;
}

.class-name {
  color: #d79c4a;
}

.special-character {
  color: #d4d4d4;
}

.property {
  color: #6ccafe;
}

.color-value {
  color: #ce7f48;
}

.pixel-value {
  color: #b5ce96;
}

.yellow {
  color: #dcdc8f;
}

#scroll-indicator-css-tab {
  width: 100%;
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .code-paragraph {
    font-size: 14px;
  }
  .code-block {
    margin: 0 4rem;
  }
}

@media screen and (max-width: 1024px) {
  .code-container {
    height: fit-content;
    min-height: 100%;
    padding: 0;
    padding-top: 4rem;
    margin: 0;
  }
  .code-block-bottom {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .code-block {
    margin: 0 2rem;
  }
  .code-paragraph {
    font-size: 12px;
  }
  .code-container {
    padding-top: 2rem;
  }
}
