<div class="border-container" #containerHeight>
  <div *ngFor="let item of items" class="slider-wrapper">
    <app-slider [slider]="item"></app-slider>
  </div>
  <div class="select-menu-container">
    <app-border-style-select class="select-menu"></app-border-style-select>
    <span class="select-menu-span">Border style</span>
  </div>
  <div class="color-picker-container">
    <span class="color-picker-text">Border color</span>
    <color-slider
      class="color-picker"
      color="{{ borderColor }}"
      (onChange)="changeColor($event)"
    ></color-slider>
  </div>
  <app-reset-buttons
    class="reset-buttons-container"
    [settingsType]="settingsType"
    [messageDynamic]="messageDynamic"
  ></app-reset-buttons>
  <app-scroll-indicator
    *ngIf="containerHeight.scrollHeight + 48 > mobileViewService.playgroundInputHeight"
    class="scroll-indicator-container"
  ></app-scroll-indicator>
</div>
