@import '../../styles.scss';

.border-container {
  @include tab-container;
}

.reset-buttons-container {
  @include reset-buttons-container;
}

.slider-wrapper {
  @include slider-wrapper;
  flex-grow: 0;
}

.select-menu-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.select-menu {
  padding: 0 1.5rem;
}

.select-menu-span {
  color: gray;
  background-color: #f2f2f2;
  padding: 0.5rem;
}

.color-picker-container {
  width: 100%;
  padding: 1.5rem;
}

.color-picker {
  width: 100%;
}

.slider-picker {
  margin-top: 1rem;
}

.color-picker-text {
  color: gray;
  background-color: #f2f2f2;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}