.playground-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  height: 700px;
  margin: 10rem auto;
  background-color: #f7f7f7;
  box-shadow: 0px 1px 2px 0px #898989;
}
.input-section {
  width: 482px;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  border-left: 1px solid #bababa;
}
.output-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 1px solid #bababa;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .playground-section {
    flex-direction: column;
    margin-top: 5rem;
    height: 1150px;
  }
  .input-section {
    width: 100%;
  }
  .output-section {
    min-height: 482px;
  }
}
