@import '../../styles.scss';

.playground-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  max-width: 1800px;
  margin: 10rem auto;
  background-color: #f7f7f7;
  box-shadow: 0px 1px 2px 0px $box-shadow;
}
.input-section {
  width: 640px;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  border-left: 1px solid #bababa;
}
.output-section {
  @include center-items-2;
  position: relative;
  flex: 1;
  border: 1px solid #bababa;
  overflow: hidden;
}

.center-button {
  @include center-items-2;
  width: 100%;
  margin-top: 6rem;
}

// +++ for smaller screens +++
// will be assigned from mobile-view.service
.playground-section-landscape  {
  flex-direction: row;
  width: 100%;
  margin-top: 4rem;
}
.playground-section-portrait  {
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
}
.input-output-section-landscape  {
  width: 50%;
}
.input-output-section-portrait  {
  width: 100%;
}
// +++ for smaller screens +++
