<div class="slider-container">
  <div>
    <span class="slider-label">{{ slider.label }}</span>
    <div>
      <mat-slider
      (input)='getSliderType($event)'
      min="{{ slider.minValue }}"
      max="{{ slider.maxValue }}"
      step="{{ slider.step }}"
      value="{{ slider.currentValue }}"
      id="{{ slider.id }}"
      [attr.data-tabType]="slider.tabType"
      ></mat-slider>
    </div>
  </div>
  <div class="slider-value">
    {{ slider.currentValue }}{{ slider.unit }}
  </div>
</div>
