.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.slider-label {
  color: gray;
  background-color: #f2f2f2;
  padding: 0.5rem;
  margin-left: 0.3rem;
}

.mat-slider {
  width: 360px;
  padding: 0;
}

.slider-value {
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #f2f2f2;
  color: #4d4d4d;
}

@media screen and (max-width: 1024px) {
  .slider-container {
    div > div {
      width: 100%;
    }
  }
  .slider-container > div:first-child {
    width: 100%;
  }
  .mat-slider {
    width: 95%;
  }
}

@media screen and (max-width: 420px) {
  .slider-container {
    padding: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .slider-container > div > div {
    height: 30px;
    margin-top: -20px;
    margin-bottom: 10px;
  }
  .mat-slider {
    margin-top: 4px;
  }
}

@media screen and (min-width: 1921px) {
  .slider-container {
    div > div {
      width: 100%;
    }
  }
  .slider-container > div:first-child {
    width: 100%;
  }
  .mat-slider {
    width: 95%;
  }
}
