<div class="top-container">
  <div class="logo-container">
    <img src="assets/images/logo-css3.svg" class="css-logo" alt="CSS 3 Logo">
    <div class="left-rod"></div>
    <div class="right-rod"></div>
    <div class="left-bubble"></div>
    <div class="right-bubble"></div>
  </div>
  <div class="site-explanation">
    <div class="explanation-text">
      <div class="info-icon-container">
        <mat-icon class="info-icon">info</mat-icon>
      </div>
      <div>
        <p>Use the sliders and color pickers to change the appearance of the square.</p>
        <p *ngIf="showArrowKeysMessage">For finer adjustment, you can also click on a slider and use the arrow keys.</p>
        <p>
          Hint: Select 'random' in the dropdown menu and hit one of the reset
          <span style="display: inline-block">buttons
            <span id="reset-button">
              <div id="reset-icon"></div>
            </span>
          </span>
        </p>
        <p class="info-text-bottom">Have fun!</p>
      </div>
    </div>
  </div>
</div>
