.top-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 6rem;
  width: 80%;
}

.logo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2298f854;
  border: 0.5rem solid #2299f8;
  box-shadow: 10px 10px 30px 0px #898989;
  border-radius: 50%;
  width: 300px;
  min-width: 300px;
  height: 300px;
  margin-left: 90px;
  animation: logo-hover 5s cubic-bezier(0.25, 0.1, 0.24, 0.99) infinite;
}

.css-logo {
  width: 200px;
  height: 200px;
  margin-top: 1.5rem;
}

.left-rod {
  position: absolute;
  left: -78px;
  width: 70px;
  height: 4px;
  background-color: #2299f8;
}

.right-rod {
  position: absolute;
  right: -78px;
  width: 70px;
  height: 4px;
  background-color: #2299f8;
}

.left-bubble {
  position: absolute;
  left: -98px;
  width: 20px;
  height: 20px;
  background-color: #e6f3fe;
  border: 2px solid #2299f8;
  border-radius: 50%;
  animation: bubble-twinkle 5s ease-in-out infinite;
}

.right-bubble {
  position: absolute;
  right: -98px;
  width: 20px;
  height: 20px;
  background-color: #e6f3fe;
  border: 2px solid #2299f8;
  border-radius: 50%;
  animation: bubble-twinkle 5s ease-in-out infinite;
}

.site-explanation {
  display: flex;
  align-items: center;
  width: 480px;
  margin-left: 120px;
}

.explanation-text {
  display: flex;
  background-color: white;
  color: #505050;
  box-shadow: 0px 1px 2px 0px #898989;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 2rem;
  margin: 0;
}

.info-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin-right: 2rem;
  background-color: #b6ddfd;
  border: 5px solid #b6ddfd;
  border-radius: 50%;
}

.info-icon {
  font-size: 45px;
  width: 45px;
  height: 45px;
}

@keyframes logo-hover {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -0.7rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes bubble-twinkle {
  0% {
    background-color: #e6f3fe;
  }
  50% {
    background-color: #83c5fb;
  }
  100% {
    background-color: #e6f3fe;
  }
}

@media screen and (max-width: 1024px) {
  .top-container {
    flex-direction: column;
    align-items: center;
  }
  .logo-container {
    margin: 0;
  }
  .site-explanation {
    width: 100%;
    margin-top: 4rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 568px) {
  .logo-container {
    min-width: 0px;
    width: 210px;
    height: 210px;
  }
  .css-logo {
    width: 140px;
    height: 140px;
  }
}

@media screen and (max-width: 480px) {
  .logo-container {
    width: 180px;
    height: 180px;
  }
  .css-logo {
    width: 120px;
    height: 120px;
  }
  .left-rod {
    width: 50px;
    left: -50px;
  }
  .right-rod {
    width: 50px;
    right: -50px;
  }
  .left-bubble {
    left: -68px;
  }
  .right-bubble {
    right: -68px;
  }
  .explanation-text {
    padding: 1rem;
  }
  .info-icon-container {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
  }
  .info-text-top {
    margin: 0;
  }
  .info-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 340px) {
  .left-rod {
    width: 40px;
    left: -40px;
  }
  .right-rod {
    width: 40px;
    right: -40px;
  }
  .left-bubble {
    left: -58px;
  }
  .right-bubble {
    right: -58px;
  }
}