.top-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 6rem;
  width: 65%;
}

.logo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2298f854;
  border: 0.5rem solid #2299f8;
  box-shadow: 10px 10px 30px 0px #898989;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: logo-hover 5s cubic-bezier(0.25, 0.1, 0.24, 0.99) infinite;
}

.css-logo {
  width: 200px;
  height: 200px;
  margin-top: 1.5rem;
}

.left-rod {
  position: absolute;
  left: -78px;
  width: 70px;
  height: 4px;
  background-color: #2299f8;
}

.right-rod {
  position: absolute;
  right: -78px;
  width: 70px;
  height: 4px;
  background-color: #2299f8;
}

.site-explanation {
  display: flex;
  align-items: center;
  width: 480px;
}

.explanation-text {
  background-color: white;
  color: #505050;
  box-shadow: 10px 10px 10px -10px #898989;
  font-size: 1.2rem;
  padding: 2rem;
  margin: 0;
}

@keyframes logo-hover {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -0.7rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
