
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$css-playground-primary: mat-palette($mat-indigo);
$css-playground-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$css-playground-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$css-playground-theme: mat-light-theme((
  color: (
    primary: $css-playground-primary,
    accent: $css-playground-accent,
    warn: $css-playground-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($css-playground-theme);

// CSS resets
* {
  margin: 0;
  padding: 0;
  color: inherit;
  letter-spacing: 1px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


body::after {
  content: '';
  display: block;
  height: 12rem; /* Set same as footers height */
}

a {
  text-decoration: none;
}

// Fonts
@font-face {
  font-family: droid;
  src: url(assets/fonts/DroidSansMono.ttf) format("truetype");
}

$font-size-headline: 1.6rem;
$font-size-links: 1.2rem;

// Colors
$navbar-footer-color: #fefefe;
$standard-text-color: #505050;
$label-background: #ededed;
$vanilla-cube: #ff4081;
$link-hover: #082858;
$box-shadow: #898989;
$light-blue: #2299f8;
$very-light-blue: #e6f3fe;
$info-blue: #b6ddfd;

// Mixins
@mixin center-items {
  display: flex;
  align-items: center;
}

@mixin center-items-2 {
  @include center-items;
  justify-content: center
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
}


@mixin tab-container {
  @include center-items;
  position: relative;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  padding: 0.5rem;
}

@mixin slider-wrapper {
  flex-grow: 1;
  width: 100%;
}

.reset-buttons-container {
  display: flex;
  padding: 0 1rem;
  width: 100%;
  height: 50px;
  margin-bottom: 0.5rem;
}

.scroll-indicator-container {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: calc(100% + 1rem);
  height: 30px;
  background-color: #b48e9a4d;
}

.color-picker-container {
  width: 100%;
  padding: 1.5rem;
}

// Material button
.mat-raised-button  {
  padding: 0 16px;
}

// +++ Material drop down +++
.mat-select-value {
  color: #787878;
}
.mat-form-field-wrapper {
  padding: 0;
  width: 140px;
}
.mat-form-field-underline {
  bottom: 0;
}
.mat-form-field-flex {
  padding: 0 !important;
}
.mat-form-field-infix {
  padding: 0px 0px 10px 15px !important;
}
.mat-select-arrow {
  margin: 10px 10px 0px 0px !important;
}
.mat-form-field-appearance-fill {
  background-color: #f5f5f5;
}
.mat-select-panel {
  border-radius: 0 !important;
  max-height: fit-content;
}
@media screen and (max-width: 480px) {
  .mat-select-panel {
    max-height: 256px;
  }
}
@media screen and (max-width: 768px) {
  #output-dropdown > .mat-form-field-wrapper {
    width: 115px;
    font-size: 12px;
  }
  #output-dropdown > div > div > .mat-form-field-infix {
    padding: 0px 0px 10px 8px !important;
  }
  .mat-select-panel {
    border-radius: 0 !important;
  }
}
// +++ material drop down +++

@media screen and (max-width: 1024px) {
  .color-picker-container {
    padding-top: 1rem;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 568px) {
  .reset-buttons-container {
    margin: 5px 0;
  }
}
