<div
  class="output-box"
  [style.height.px]=transformSettingsService.sizeSlider.slider.currentValue
  [style.width.px]=transformSettingsService.sizeSlider.slider.currentValue
  [ngStyle]="{
    'transform':
      'translate(
        ' + transformSettingsService.horizontallySlider.slider.currentValue + 'px,
        ' + transformSettingsService.verticallySlider.slider.currentValue + 'px)
      rotate(' + transformSettingsService.rotateSlider.slider.currentValue + 'deg)'
    }"
  [style.border-width.px]=borderSettingsService.widthSlider.slider.currentValue
  [style.border-radius.%]=borderSettingsService.radiusSlider.slider.currentValue
  [style.border-style]=borderSettingsService.borderStyle
  [style.border-color]=borderSettingsService.borderColor

  [style.box-shadow]="boxShadowSettingsService.offsetXSlider.slider.currentValue + 'px ' + boxShadowSettingsService.offsetYSlider.slider.currentValue + 'px ' + boxShadowSettingsService.blurRadiusSlider.slider.currentValue + 'px ' + boxShadowSettingsService.spreadRadiusSlider.slider.currentValue + 'px #232323'"

  >
</div>

<!-- [style.box-shadow]="'10px 10px 10px 10px #232323'" -->

<!-- [style.box-shadow]="boxShadowSettingsService.offsetXSlider.slider.currentValue + 'px ' + boxShadowSettingsService.offsetYSlider.slider.currentValue + 'px ' + boxShadowSettingsService.blurRadiusSlider.slider.currentValue + 'px ' boxShadowSettingsService.spreadRadiusSlider.slider.currentValue + 'px ' #232323" -->

<!-- [style.box-shadow]="'box-shadow': 'boxShadowSettingsService.offsetXSlider.slider.currentValuepx boxShadowSettingsService.offsetYSlider.slider.currentValuepx boxShadowSettingsService.blurRadiusSlider.slider.currentValuepx boxShadowSettingsService.spreadRadiusSlider.slider.currentValuepx rgba(0, 0, 0, 0.3)'" -->

