<div
  [style.backgroundColor]=cubeColor
  [style.height.px]=transformSettingsService.sizeSlider.currentValue
  [style.width.px]=transformSettingsService.sizeSlider.currentValue
  [ngStyle]="{
    'transform':
      'translate(
        ' + transformSettingsService.horizontallySlider.currentValue + 'px,
        ' + transformSettingsService.verticallySlider.currentValue + 'px)
      rotate(' + transformSettingsService.rotateSlider.currentValue + 'deg)'
    }"
  [style.border-width.px]=borderSettingsService.widthSlider.currentValue
  [style.border-radius.%]=borderSettingsService.radiusSlider.currentValue
  [style.border-style]=borderSettingsService.borderStyle
  [style.border-color]=borderColor
  [style.box-shadow]="boxShadowSettingsService.shadowInset + ' ' + boxShadowSettingsService.offsetXSlider.currentValue + 'px ' + boxShadowSettingsService.offsetYSlider.currentValue + 'px ' + boxShadowSettingsService.blurRadiusSlider.currentValue + 'px ' + boxShadowSettingsService.spreadRadiusSlider.currentValue + 'px ' + boxShadowColor">
</div>
