<div
  [style.backgroundColor]=cubeColor
  [style.height.px]=size
  [style.width.px]=size
  [ngStyle]="{
    'transform':
      'translate(
        ' + xPos + 'px,
        ' + yPos + 'px)
      rotate(' + rotate + 'deg)'
    }"
  [style.border-width.px]=borderWidth
  [style.border-radius.%]=borderRadius
  [style.border-style]=borderStyle
  [style.border-color]=borderColor
  [style.box-shadow]="shadowInset + ' ' + shadowX + 'px ' + shadowY + 'px ' + shadowBlur + 'px ' + shadowSpread + 'px ' + boxShadowColor">
</div>

<app-start-presets class="start-presets-menu"></app-start-presets>
